[client]                          
port=3306
socket=/tmp/mysql.sock
default-character-set=utf8mb4 

[mysqld] 
port=3306
socket=/tmp/mysql.sock
key_buffer_size=16M
max_allowed_packet=8M
character-set-server=utf8mb4
innodb_use_native_aio=0

[mysqldump]                       
quick

[mysqld_safe]                     
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid